PORT=3000

DB_HOST=localhost
DB_PORT=27017
DB_NAME=gestion_empleados
# DB_USER=
# DB_PASSWORD=

# O usa la URI completa (tiene prioridad sobre las variables anteriores)
# MONGO_URI=mongodb://localhost:27017/gestion_empleados

JWT_SECRET=cambia_esto_por_un_secreto_seguro